<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IvrsProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IvrsServlet</servlet-name>
    <servlet-class>com.iitb.Controller.IvrsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IvrsServlet</servlet-name>
    <url-pattern>/IvrsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IVRSDataServlet</servlet-name>
    <servlet-class>com.iitb.Controller.IVRSDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IVRSDataServlet</servlet-name>
    <url-pattern>/IVRSDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillingSystem</display-name>
    <servlet-name>BillingSystem</servlet-name>
    <servlet-class>com.iitb.Controller.BillingSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingSystem</servlet-name>
    <url-pattern>/BillingSystem</url-pattern>
  </servlet-mapping>
</web-app>